.fghj14892dcgf{
    margin-top: 4rem;
}


.dfgyuiokdsrtyui a{
    border: 1px solid #007aff;
    padding: 12.456px;
    border-radius: 8.5px;
    text-decoration: none;
    transition: 1s;
    color: #0a021c;
}


.dfgyuiokdsrtyui a:hover{
    text-decoration: none;
    background-color: #007aff;
    transition: 0.45s ease-in-out;
    color: #ffffff;
}


.sdfgh412fxz52vcxznm{
    margin: 3rem !important;
}
