.container__container__c{
    width: 100%;
    justify-content: space-between;
    display: grid;
    gap: 1.275rem;  
    grid-template-columns: repeat(3,1fr);  
}
.container__container__c .card__one{
 
    background: #fff;
    text-align: center;
    padding: 15px 30px 30px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    margin-bottom: 20px;
}

.container__container__c .card__one .container__top{
    height: 130px;
    background-color: red;
    color: #fff;
    padding: 12px 0 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%,0 53%);
}
.top__title{
   font-size: 27px;
   font-weight: 700; 
}
.price__section{
   margin-top: -10px; 
}
.price__section .pr_i-ce{
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -2px;
}
.plan_info{
    font-size: 1.154rem;
    font-weight: 900;
    margin-top: 20px;
    color: #0e39a7;
}
.details .plan__one{
    margin-top: 2.4568px;
    font-size: 1.156rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #007aff;
}
.details .plan__one::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ddd;
    left: 0;
    top: -12px;
}
.plan__one i{
   color: #2db94d; 
}

.plan__one i.fa-times{
    color: #cd3241;
}
.button{
    text-decoration: none;
    outline: none;
    border: none;
    height: 42px;
    display: block;
    margin-top: 30px;
    width: 100%;
    background: red;
    border-radius: 3px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-top: 6px;
}
.container__container__c .one .container__top,
.container__container__c .one .button{
    background: #0e39a7;
}

.container__container__c .two .container__top,
.container__container__c .two .button{
    background: #f1683a;
}

.container__container__c .three .container__top,
.container__container__c .three .button{
    background: goldenrod;
}
.button:hover{
filter: brightness(90%);
}


@media (max-width:1000px){
.container__container__c{
  grid-template-columns: repeat(2,1fr);
}
.card__one{
    width: calc(50%-20px); 
}
}



@media (max-width:715px){
.container__container__c{
  grid-template-columns: repeat(1,1fr);
}
}




/*Vehicle card section*/
.hover_car-d_s{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    max-width: 1100px;
    margin: 0 auto;
    
   } 

   .hover_car-d_s *{
    box-sizing: border-box;
   }

   .hover_car-d{
    width: 17em;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(100,100,111,0.2)0px 7px 29px 0px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    margin: 2em;
   }
   .hover_car-d img{
    width: 16em;
    position: absolute;
    top: 6em;
    right: -4em;
    filter: drop-shadow(0px 10px 25px rgba(0,0,0,0.5));
   }
   .hover_con_ten-t{
    padding: 1rem;
    }
    .hover_car-d h2{
        font-size: 1.6rem;
        font-weight: 600;
        color: #fff;
        margin: 0 0 0 0.8rem;
    }


    .conte_nt-details{
        color: goldenrod;
    }
    
    .hover_ban_ner{
        height: 15em;
        background: linear-gradient(90deg, #007aff 0%, #0e39a7 100%);
        padding-top: 3em;
        border-radius: 10px 10px 50% 50%;
    }
    .conte_nt-details small{
        display: block;
        line-height: 24px;
        letter-spacing: 1px;
        font-size: 0.8em;
        color: #333;
        font-weight: 600;
    }
    .cart_p_o_p{
        background: linear-gradient(90deg, #007aff 0%, #0e39a7 100%);
        padding: 9.87px;
        display: flex;
        font-size: 0.957rem;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 2em;
        color: #fff;
        border: none;
        margin: 0 auto;
        font-weight: 600;
        box-shadow: 0px 5px 15px goldenrod;
        cursor: pointer;
    }
    
    .cart_p_o_p:hover{
        background:#0e39a7;
    }
    .hover_p_o_p{
        transform: translateZ(20px);
    }

    .hover_car-d:nth-child(2) .hover_ban_ner,
    .hover_car-d:nth-child(2) .cart_p_o_p,
    .hover_car-d:nth-child(5) .hover_ban_ner,
    .hover_car-d:nth-child(5) .cart_p_o_p{
        background: linear-gradient(90deg, #333 0%, #111 100%);
    }

    .hover_car-d:nth-child(2) img{
        top: 4em;
    }

    .hover_car-d:nth-child(2) .cart_p_o_p{
        box-shadow: 0px 5px 15px rgba(0,0,0,0.7);
    }

    .hover_car-d:nth-child(3) .hover_ban_ner,
    .hover_car-d:nth-child(3) .cart_p_o_p,
    .hover_car-d:nth-child(6) .hover_ban_ner,
    .hover_car-d:nth-child(6) .cart_p_o_p{
        background: linear-gradient(90deg, gold 0%, goldenrod 100%);
    }

    .hover_car-d:nth-child(3) img{
        top: 5.3em;
    }

    .hover_car-d:nth-child(2) .cart_p_o_p{
        box-shadow: 0px 5px 15px rgba(183,223,90,0.7);
    }

    @media screen and (max-width:1200px) {
        .hover_car-d_s{
    grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:768px) {
        .hover_car-d_s{
    grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width: 768px) and (min-width: 568px) {
    .hover_car-d{
        margin-left: 27.3333%;
    } 
}